<a href="https://colab.research.google.com/github/HussainMadarwala53/Pandas-Lectures/blob/main/Pandas_Lecture_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
# pd.options.display.max_rows=10
df = pd.read_csv("ex6.csv")
df

    Unnamed: 0       one       two     three      four key
0            0  0.467976 -0.038649 -0.295344 -1.824726   L
1            1 -0.358893  1.404453  0.704965 -0.200638   B
2            2 -0.501840  0.659254 -0.421691 -0.057688   G
3            3  0.204886  1.074134  1.388361 -0.982404   R
4            4  0.354628 -0.133116  0.283763 -0.837063   Q
..         ...       ...       ...       ...       ...  ..
15          15 -1.310608  0.401719 -1.000987  1.156708   E
16          16 -0.088496  0.634712  0.153324  0.415335   B
17          17 -0.018663 -0.247487 -1.446522  0.750938   A
18          18 -0.070127 -1.579097  0.120892  0.671432   F
19          19 -0.194678 -0.492039  2.359605  0.319810   H

[20 rows x 6 columns]

In [7]:
# df = pd.read_csv("ex6.csv",nrows=5)
# df

   Unnamed: 0       one       two     three      four key
0           0  0.467976 -0.038649 -0.295344 -1.824726   L
1           1 -0.358893  1.404453  0.704965 -0.200638   B
2           2 -0.501840  0.659254 -0.421691 -0.057688   G
3           3  0.204886  1.074134  1.388361 -0.982404   R
4           4  0.354628 -0.133116  0.283763 -0.837063   Q

In [11]:
df.head(10)

   Unnamed: 0       one       two     three      four key
0           0  0.467976 -0.038649 -0.295344 -1.824726   L
1           1 -0.358893  1.404453  0.704965 -0.200638   B
2           2 -0.501840  0.659254 -0.421691 -0.057688   G
3           3  0.204886  1.074134  1.388361 -0.982404   R
4           4  0.354628 -0.133116  0.283763 -0.837063   Q
5           5  1.817480  0.742273  0.419395 -2.251035   Q
6           6 -0.776764  0.935518 -0.332872 -1.875641   U
7           7 -0.913135  1.530624 -0.572657  0.477252   K
8           8  0.358480 -0.497572 -0.367016  0.507702   S
9           9 -1.740877 -1.160417 -1.637830  2.172201   G

Difference between head(10) and nrows=10
 .head() will first load the entire dataset into memory then fetch 10 rows
 .nrows will directly fetch 10 rows and show in result set

In [13]:
df.to_csv("output.csv")  # export data to local env

In [14]:
df.to_csv("output.csv",sep ="@")

In [18]:
df.to_csv("output.csv",sep =",",index =False, header= False)

In [19]:
df

    Unnamed: 0       one       two     three      four key
0            0  0.467976 -0.038649 -0.295344 -1.824726   L
1            1 -0.358893  1.404453  0.704965 -0.200638   B
2            2 -0.501840  0.659254 -0.421691 -0.057688   G
3            3  0.204886  1.074134  1.388361 -0.982404   R
4            4  0.354628 -0.133116  0.283763 -0.837063   Q
..         ...       ...       ...       ...       ...  ..
15          15 -1.310608  0.401719 -1.000987  1.156708   E
16          16 -0.088496  0.634712  0.153324  0.415335   B
17          17 -0.018663 -0.247487 -1.446522  0.750938   A
18          18 -0.070127 -1.579097  0.120892  0.671432   F
19          19 -0.194678 -0.492039  2.359605  0.319810   H

[20 rows x 6 columns]

In [29]:
# Dates Data Frame
dates= pd.date_range(start="01/01/2021",periods= 7,freq= "M")
dates

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31'],
              dtype='datetime64[ns]', freq='M')

In [31]:
import numpy as np
ty = np.arange(7)
ty

array([0, 1, 2, 3, 4, 5, 6])

In [32]:
ty = pd.Series(np.arange(7))
ty

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [33]:
ty = pd.Series(np.arange(7),index=dates)
ty

2021-01-31    0
2021-02-28    1
2021-03-31    2
2021-04-30    3
2021-05-31    4
2021-06-30    5
2021-07-31    6
Freq: M, dtype: int64

Working with Delimited formats, i.e without using pandas library.

In [39]:
import csv
f= open("ex3.csv")
readers = csv.reader(f)
readers

In [40]:
for i in readers:
  print(i)

['            A         B         C']
['aaa -0.264438 -1.026059 -0.619500']
['bbb  0.927272  0.302904 -0.032399']
['ccc -0.264273 -0.386314 -0.217601']
['ddd -0.871858 -0.348382  1.100491']

In [47]:
import csv
f= open("ex3.csv")
readers = csv.reader(f)
# readers
listofread = list(readers)

In [48]:
listofread

[['            A         B         C'],
 ['aaa -0.264438 -1.026059 -0.619500'],
 ['bbb  0.927272  0.302904 -0.032399'],
 ['ccc -0.264273 -0.386314 -0.217601'],
 ['ddd -0.871858 -0.348382  1.100491']]

In [49]:
header,values = listofread[0], listofread[1:]

In [50]:
header

['            A         B         C']

In [71]:
values

[['aaa -0.264438 -1.026059 -0.619500'],
 ['bbb  0.927272  0.302904 -0.032399'],
 ['ccc -0.264273 -0.386314 -0.217601'],
 ['ddd -0.871858 -0.348382  1.100491']]

In [76]:
zipperval = zip(values)
list(zipperval)

[(['aaa -0.264438 -1.026059 -0.619500'],),
 (['bbb  0.927272  0.302904 -0.032399'],),
 (['ccc -0.264273 -0.386314 -0.217601'],),
 (['ddd -0.871858 -0.348382  1.100491'],)]

In [77]:
list(zip(*values))

[('aaa -0.264438 -1.026059 -0.619500',
  'bbb  0.927272  0.302904 -0.032399',
  'ccc -0.264273 -0.386314 -0.217601',
  'ddd -0.871858 -0.348382  1.100491')]

In [78]:
list(zip(header,zip(*values)))

[('            A         B         C',
  ('aaa -0.264438 -1.026059 -0.619500',
   'bbb  0.927272  0.302904 -0.032399',
   'ccc -0.264273 -0.386314 -0.217601',
   'ddd -0.871858 -0.348382  1.100491'))]

In [79]:
l1 = [0,5,66,79,51]
l2 = [10,15,6,7,1]
zip(l1,l2)

In [80]:
list(zip(l1,l2))

[(0, 10), (5, 15), (66, 6), (79, 7), (51, 1)]

In [86]:
dictval = {i:j for i,j in zip(l1,l2)}
dictval

{0: 10, 5: 15, 51: 1, 66: 6, 79: 7}

JSON Data read

In [5]:
obj = '''
{"employees":[  
    {"name":"Shyam", "email":"shyamjaiswal@gmail.com"},  
    {"name":"Bob", "email":"bob32@gmail.com"},  
    {"name":"Jai", "email":"jai87@gmail.com"}  
]}  
'''

In [6]:
type(obj)

str

In [7]:
import json
result = json.loads(obj)
result

{'employees': [{'email': 'shyamjaiswal@gmail.com', 'name': 'Shyam'},
  {'email': 'bob32@gmail.com', 'name': 'Bob'},
  {'email': 'jai87@gmail.com', 'name': 'Jai'}]}

In [8]:
type(result)

dict

In [9]:
asjson = json.dumps(result)
asjson

'{"employees": [{"name": "Shyam", "email": "shyamjaiswal@gmail.com"}, {"name": "Bob", "email": "bob32@gmail.com"}, {"name": "Jai", "email": "jai87@gmail.com"}]}'

In [12]:
import pandas as pd

In [15]:
sibilings  = pd.DataFrame(result["employees"])
sibilings

    name                   email
0  Shyam  shyamjaiswal@gmail.com
1    Bob         bob32@gmail.com
2    Jai         jai87@gmail.com

In [19]:
import pandas as pd
data = pd.read_json("example.json")
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [23]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [25]:
htmldata = pd.read_html("fdic_failed_bank_list.html")
len(htmldata)

1

In [26]:
htmldata[0]

                             Bank Name  ...       Updated Date
0                          Allied Bank  ...  November 17, 2016
1         The Woodbury Banking Company  ...  November 17, 2016
2               First CornerStone Bank  ...  September 6, 2016
3                   Trust Company Bank  ...  September 6, 2016
4           North Milwaukee State Bank  ...      June 16, 2016
..                                 ...  ...                ...
542                 Superior Bank, FSB  ...    August 19, 2014
543                Malta National Bank  ...  November 18, 2002
544    First Alliance Bank & Trust Co.  ...  February 18, 2003
545  National State Bank of Metropolis  ...     March 17, 2005
546                   Bank of Honolulu  ...     March 17, 2005

[547 rows x 7 columns]

Binary Data Format

In [28]:
frame = pd.read_csv("ex1.csv")
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [29]:
frame.to_pickle("Pickledata")

In [30]:
picdata = pd.read_pickle("Pickledata")

In [31]:
picdata

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

SERDE operation

1. Obj(i.e frame) ------> ByteCode(i.e pickel data) is called Serialization/Write

2. ByteCode-------->Obj is called  DeSerialization/read

.h5 file format

WEB APIs

In [33]:
import requests

In [40]:
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
resp = requests.get(url)
resp

In [41]:
type(resp)

requests.models.Response

In [44]:
data= resp.json()
data[0]["comments_url"]

'https://api.github.com/repos/pandas-dev/pandas/issues/42534/comments'

In [46]:
dataframes = pd.DataFrame(data,columns=["number", "title", "labels"])

dataframes

    number  ...                                             labels
0    42534  ...  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...
1    42533  ...  [{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...
2    42532  ...  [{'id': 307649777, 'node_id': 'MDU6TGFiZWwzMDc...
3    42530  ...  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...
4    42529  ...                                                 []
5    42528  ...                                                 []
6    42522  ...  [{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...
7    42520  ...  [{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...
8    42519  ...  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...
9    42518  ...                                                 []
10   42514  ...  [{'id': 2365504893, 'node_id': 'MDU6TGFiZWwyMz...
11   42512  ...  [{'id': 3165546917, 'node_id': 'MDU6TGFiZWwzMT...
12   42509  ...  [{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...
13   42508  ...  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...
14   42506  ...  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...
15   42505  ...  [{'id': 1465286368, 'node_id': 'MDU6TGFiZWwxND...
16   42503  ...                                                 []
17   42501  ...  [{'id': 2085877452, 'node_id': 'MDU6TGFiZWwyMD...
18   42499  ...  [{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...
19   42497  ...  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...
20   42495  ...  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...
21   42494  ...  [{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...
22   42492  ...  [{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...
23   42485  ...  [{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...
24   42484  ...  [{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...
25   42482  ...  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...
26   42481  ...  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...
27   42479  ...  [{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...
28   42477  ...  [{'id': 1049312478, 'node_id': 'MDU6TGFiZWwxMD...
29   42476  ...  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...

[30 rows x 3 columns]